@font-face{
  font-family: "jedi";
  src: url('fonts/Starjedi.ttf');
}
@font-face{
  font-family: "accid";
  src: url('fonts/accid___.ttf');
}
*{
  font-family: 'Roboto', sans-serif;
}
h1,
h2{
    font-family: 'jedi';
}
body{
  margin: 0;
  background-color: #F2EFDF;
  transition: background-color 0.5s ease;
}
.changeBackground{
  background-color:#413659;
  transition: background-color 0.5s ease;
}
canvas{
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}
canvas>.row{
  position: relative;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: underline;
  background-color: transparent !important;
}
#mainNav{
  padding-top: 40px;
}
#mainNav>ul>li>a{
  margin: 3%;
  
}
.nav-menu{
  background-color: white;
  color:#499E8D;
  border-radius: 10px;
}
.fa-adjust{
  background-color: transparent;
  font-size: 16px;
  color:#499E8D;
  border-radius: 10px;
}
.nav-contact{
  border-radius: 10px;
  background-color: #499E8D;
  color: white;
}
.cover-info{
  width: 100vw;
  height: 100vh;
  min-height: 100%;
}
.cover{
  padding-left: 10%;
  padding-bottom: 2%;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);  
  position: relative;
}

.cover-title{
  margin-top: 5%;
  padding-top: 5%;
  margin-left: 5%;
  font-size: 80px;
  /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

.sub-heading{
  margin-left: 5%;
  font-family: 'accid';
  font-size: 28px;
  word-spacing: 3px;
  letter-spacing: 4px;
}
.togglebutton{
  margin-left: 5%;
  margin-top: 2%;
}
.about-me{
  width: 100vw;
  min-height: 50vh;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.about-me-desc{
  margin-top: 15%;
  background-color: rgba(255, 255, 255, .5);  
  padding: 5%;
  border-radius: 15px;
  font-size: 20px;
}
.about-me-image{
  width: 75%;
  min-height: 75%;
  border-radius: 50%;
  display: inline-block;
}
.portfolio-container{
  background-color: #F5F7F9;
  min-height: 100vh;
  padding-bottom: 2%;
}

.portfolio-container>.row>.col-md-8{
  padding: 25px;
  border-bottom: 1px solid gray;
}
.portfolio-container>h1{
  padding-top: 20px;
  margin: 0 auto;
  text-align: center; 
}
.project p{
  margin: 0 auto;
  width: 60%;
  padding: 1%;
}

.image-cropper{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.5s;
  transform: scale(1)
}
.image-cropper:hover{
  transform: scale(1.2,1.2);
  transition: all 0.5s ease-out;
}
.portfolio-image{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  transition: transform 0.5s;
}


.tech-used>h1{
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1px;
  padding: 5px;
  font-size: 14px;
  min-width: 100px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.col-md-8>.icon{
  color: #9BBFAB;
}
.col-md-8>a{
  color: #9BBFAB;
}
.phone{
  color: #9BBFAB;
}
.contact-me{
  min-height: 85vh;
  background-color: #656F8C;
}
.contact-container>h1{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5%;
  font-size: 50px;
  color: white;
}
.contact-container>h4{
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px;
  padding-top: 20px;
  color: white;
}
.contact-container>.row{
  padding: 0;
}
.contact-icon{
  color: white;
}
.contact-icon:hover{
  font-size: 30px;
}
.icon{
  color: black;
  font-size: 20px;
}
.icon:hover{
  font-size: 30px;
}
.footer-icon-container{
  min-height: 100px;
  background-color: darkgray
}
.footer-icon-container>a>i{
  padding-top: 40px;
  color: #656F8C;
  font-size: 30px;
  text-indent: 20px;
}
.footer-container{
  min-height: 30px; 
  background-color: #262729;
  color: #526173;
}
